.hero {
  display: grid;
  place-items: center;
  height: 129.8rem;
  background-color: white;
}

.hero__title {
  text-align: center;
  max-width: 30rem;
  z-index: 2;
  mix-blend-mode: difference;
  color: white;
}

.hero__title span {
  font-size: 12rem;
}

.hero__title div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  position: absolute;
}

.hero img:nth-child(1) {
  width: 37.4rem;
  height: 56.1rem;
  top: 0;
  left: 8rem;
}

.hero img:nth-child(2) {
  width: 24.1rem;
  height: 6.6rem;
  top: 0;
  left: 61.1rem;
}
.hero img:nth-child(3) {
  width: 35.1rem;
  height: 23.4rem;
  top: 0;
  right: 8rem;
}
.hero img:nth-child(4) {
  width: 37.4rem;
  height: 55.9rem;
  top: 16.8rem;
  right: 47.8rem;
}
.hero img:nth-child(5) {
  width: 35.1rem;
  height: 23.4rem;
  top: 65.9rem;
  left: 47.8rem;
}
.hero img:nth-child(6) {
  width: 24.1rem;
  height: 36.1rem;
  top: 93.7rem;
  left: 21.3rem;
}
.hero img:nth-child(7) {
  width: 63.9rem;
  height: 42.5rem;
  top: 81.5rem;
  right: 8rem;
}
